
//===============PRIMARY COLORS================

$Dark-Blue-1:  rgb(27, 35, 48);//intro and email sign up background
$Dark-Blue-2:  rgb(24, 31, 43);// main background
$Dark-Blue-3:  rgb(10, 20, 35);// footer background
$Dark-Blue-4:  rgb(32, 41, 59);// testimonials background

//===============ACCENT COLORS================

$Cyan:  rgb(100, 225, 217); //inside call to action gradient
$Blue:  rgb(50, 158, 204); //inside call to action gradient

//===============NEUTRAL COLORS================

$White: rgb(255, 255, 255);



