//===============BODY FONT SETUP================
body {
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: white;
}
//Headings, Call-to-actions, Header Navigation
h1 {
	font-family: 'Raleway', sans-serif;
}
